.logInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: fit-content;
    flex-direction: column;
    position: relative;
    top: -160px;
    gap: 1rem;
}

.logInPage img {
    width: 12rem;
    align-self: start;
}

.logInContainer {
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 2rem;
    border: 1px solid var(--subtle);
    background-color: white;
    border-radius: 15px;
}

h2 {
    margin: 0 0 1rem;
}

input {
    margin: 0 0 0.7rem;
    text-align: end;
    width: 170px;

    &:last-of-type {
        margin: 0 0 0 0.7rem;
    }
}

.formDiv {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &:not(:last-of-type) {
        margin: 0 0 0.5rem;
    }
}

.logInBtn {
    margin: 1rem auto 0;
    padding: 0.1rem 0.5rem;
}

form {
    margin: 0 0 1rem;
}
