.newEmployeeCard.addNew img {
    width: 5rem;
}

.newEmployeeCard.addNew {
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid var(--subtle);
}

.newEmployeeCard .frame {
    height: 200px;
}

.addNew button {
    background-color: transparent;
}

.newEmployeeCard form > div {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.6rem;
}

.newEmployeeCard form input,
form select {
    border: none;
    background-color: ghostwhite;
    text-align: end;
    margin: 0;

    width: 40%;

    &:focus {
        outline: 1px solid var(--subtle);
    }
}

.newEmployeeCard option {
    transition: background-color 300ms;
    text-align: center;

    &:hover {
        background-color: var(--subtle);
    }
}

.newEmployeeCard form label {
    border-bottom: 1px solid var(--subtle);
}

.newEmployeeCard.edit button {
    margin: 1rem 0 0;
}

.newEmployeeCard form > div:last-of-type {
    border: none;
}

#addEmployee .addNew {
    height: 642px;
}

#addEmployee div {
    max-width: 410px;
}
